@charset "UTF-8";
/*
  Phone         (phone)       : 600px
  Tablet Port   (tab-port)    : 900px
  Tablet Land   (tab-land)    : 1200px
  Desktop                     : 
  Big Desktop   (big-desktop) : min 1800px
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 3rem;
}

@media screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

img {
  display: inline-block;
}

button {
  border: none;
  background-color: transparent;
}

@keyframes moveInRight {
  0% {
    transform: translateX(-6rem);
    opacity: 0;
  }
  80% {
    transform: translateX(1rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(6rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-1rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(2.5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.main-text {
  color: #fff;
  text-transform: uppercase;
  margin: 4rem;
}

.main-text-primary {
  display: block;
  font-weight: 400;
  font-size: 6.5rem;
  letter-spacing: 2rem;
  animation: moveInRight 1s ease-out;
}

@media screen and (max-width: 37.5em) {
  .main-text-primary {
    letter-spacing: 1rem;
    font-size: 4rem;
  }
}

.main-text-sub {
  display: block;
  font-weight: 700;
  font-size: 2.1rem;
  letter-spacing: 1.25rem;
  animation: moveInLeft 1s ease-out;
}

@media screen and (max-width: 37.5em) {
  .main-text-sub {
    letter-spacing: .8rem;
    font-size: 1rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 56.25em) {
  .heading-secondary {
    letter-spacing: .1rem;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .heading-secondary {
    letter-spacing: 0rem;
    font-size: 2rem;
  }
}

.heading-tertiary {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (max-width: 75em) {
  .heading-tertiary {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 1.4rem;
  }
}

.paragraph {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 75em) {
  .paragraph {
    font-size: 1.3rem;
  }
}

.u-center-text {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-md {
  margin-bottom: 5rem;
}

.u-mb-lg {
  margin-bottom: 8rem;
}

@media screen and (max-width: 75em) {
  .u-mb-lg {
    margin-bottom: 3rem;
  }
}

.u-mb-xl {
  margin-bottom: 10rem;
}

.u-mt-sm {
  margin-top: 2rem !important;
}

.u-mt-md {
  margin-top: 5rem;
}

.u-mt-lg {
  margin-top: 8rem;
}

.u-mt-xl {
  margin-top: 10rem;
}

.u-pt-sm {
  padding-top: 2rem;
}

.u-px-sm {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-px-md {
  padding-left: 5rem;
  padding-right: 5rem;
}

.u-px-lg {
  padding-left: 8rem;
  padding-right: 8rem;
}

@media screen and (max-width: 75em) {
  .u-px-lg {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .u-px-lg {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.u-px-xl {
  padding-left: 8rem;
  padding-right: 8rem;
}

.u-p-sm {
  padding: 2rem;
}

.u-p-md {
  padding: 5rem;
}

.u-p-lg {
  padding: 8rem;
}

.u-p-xl {
  padding: 10rem;
}

.u-showbg {
  background-color: orangered;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: .3;
  height: 100%;
}

.booking-container {
  width: 85%;
  margin: 0rem auto;
  border-radius: 3px;
  padding-left: 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(102deg, rgba(255, 255, 255, 0.8) 50%, transparent 65%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  font-weight: 700;
  border-radius: 10rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.8rem 1.9rem rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.25);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-green {
  background-color: #55c57a;
  color: #fff;
}

.btn-animated {
  animation: moveInBottom 0.4s ease-out 0.75s backwards;
  position: relative;
  /* Animación que usa pseudoelemento AFTER */
}

.btn-animated::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.btn-animated:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.link-text {
  padding-left: .5rem;
  padding-right: .5rem;
}

.link-text:link, .link-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}

.link-text:hover {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: #fff;
}

.card {
  width: 100%;
  height: 50rem;
  border-radius: 0.5rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

@media screen and (max-width: 75em) {
  .card {
    max-width: 50rem;
    height: 60rem;
    margin: 0 auto;
  }
}

.card .card-header {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

@media screen and (max-width: 75em) {
  .card .card-header {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.card .card-header--primary {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7));
}

.card .card-header--secondary {
  background-image: linear-gradient(to right bottom, rgba(252, 191, 73, 0.7), rgba(232, 93, 4, 0.7));
}

.card .card-header--tertiary {
  background-image: linear-gradient(to right bottom, rgba(69, 123, 157, 0.7), rgba(19, 64, 116, 0.7));
}

.card .card-header--img {
  opacity: 0.4;
}

.card .card-header--img img {
  width: 100%;
  display: block;
}

.card .card-title {
  position: absolute;
  top: 30%;
  right: 2rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-title .break-primary {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.85));
}

.card .card-title .break-secondary {
  background-image: linear-gradient(to right bottom, rgba(252, 191, 73, 0.6), rgba(232, 93, 4, 0.85));
}

.card .card-title .break-tertiary {
  background-image: linear-gradient(to right bottom, rgba(69, 123, 157, 0.6), rgba(19, 64, 116, 0.85));
}

.card .card-title-break {
  display: table;
  padding: 0 .5rem;
}

.card .card-body {
  padding: 2.5rem 6rem;
}

@media screen and (max-width: 75em) {
  .card .card-body {
    padding: 1rem 10rem;
  }
}

@media screen and (max-width: 37.5em) {
  .card .card-body {
    padding: 1rem 2rem;
  }
}

.card .card-body .card-list {
  list-style: none;
  font-size: 1.5rem;
}

.card .card-body .card-list-item {
  padding: .9rem;
}

.card .card-body .card-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(183, 183, 183, 0.6);
}

.card .backside-content {
  padding-top: 15rem;
}

.card .backside-content .tour-price {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 8rem;
}

.card .backside-content .tour-price::before {
  content: "ONLY";
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .05;
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .8s ease-in-out;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.card-side--back {
  transform: rotateY(-180deg);
}

.card .backbg-primary {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card .backbg-secondary {
  background-image: linear-gradient(to right bottom, #fcbf49, #e85d04);
}

.card .backbg-tertiary {
  background-image: linear-gradient(to right bottom, #457b9d, #134074);
}

.card:hover .card-side--front {
  transform: rotateY(-180deg);
}

.card:hover .card-side--back {
  transform: rotateY(-360deg);
}

.composition {
  position: relative;
  max-width: 100%;
}

@media screen and (max-width: 75em) {
  .composition {
    width: 80%;
    margin: 0 auto;
  }
}

.composition-img {
  width: 60%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
  position: absolute;
  transition: all 0.5s;
}

@media screen and (max-width: 75em) {
  .composition-img {
    width: 33.33%;
    position: relative;
    float: left;
    margin: 0 auto;
  }
}

.composition-img--1 {
  top: 0;
  left: 20%;
  z-index: 3;
}

@media screen and (max-width: 75em) {
  .composition-img--1 {
    top: 0;
    left: 0;
  }
}

.composition-img--2 {
  top: 8rem;
  left: 45%;
  z-index: 2;
}

@media screen and (max-width: 75em) {
  .composition-img--2 {
    top: 0;
    left: 0;
    transform: translateY(-1rem) scale(1.1);
    z-index: 100;
  }
}

.composition-img--3 {
  top: 15rem;
  left: 0%;
  z-index: 1;
}

@media screen and (max-width: 75em) {
  .composition-img--3 {
    top: 0;
    left: 0;
  }
}

.composition-img:hover {
  transform: scale(1.05);
  z-index: 4;
}

.composition:hover .composition-img:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  padding: 3rem 2rem;
  border-radius: 0.25rem;
  background-color: rgba(247, 247, 247, 0.75);
  transition: all 0.5s;
}

@media screen and (max-width: 75em) {
  .feature-box {
    max-width: 35rem;
    margin: 0 auto;
  }
}

.feature-box__icon {
  font-size: 4rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.feature-box:hover {
  transform: scale(1.05) translateY(-2rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
}

.form {
  width: 40%;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-group__input {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  border-bottom: 3px solid transparent;
  transition: all .3s;
}

.form-group__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.form-group__input:focus:invalid {
  border-bottom: 3px solid #e85d04;
}

.form-group__input::-webkit-input-placeholder {
  color: #999;
}

.form-group__input:placeholder-shown + .form-group__label {
  transform: translateY(-3rem);
  opacity: 0;
  visibility: hidden;
}

.form-group__label {
  display: block;
  margin: .3rem 0rem 0rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.form-group__radio {
  display: none;
}

.form-group__radio:checked + .form-group__rlabel .selector::after {
  opacity: 1;
}

.form-group__rlabel {
  display: inline-block;
  width: 49%;
  font-size: 1.7rem;
  padding-left: 5rem;
  position: relative;
  cursor: pointer;
}

.form-group__rlabel .selector {
  display: block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: 1rem;
}

.form-group__rlabel .selector::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.99);
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup-content {
  width: 70%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  overflow: hidden;
  border-radius: 3px;
  display: table;
  transition: all .5s .2s ease-in;
}

.popup-content--left {
  width: 33.333%;
  display: table-cell;
  height: 100%;
}

.popup-content--right {
  width: 66.6666%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-text {
  column-count: 2;
  column-gap: 4rem;
  font-size: 1.4rem;
  column-rule: 1px solid #b7b7b7;
  text-align: justify;
}

.popup-img {
  display: block;
  width: 100%;
}

.popup-close {
  transition: all .5s;
}

.popup-close, .popup-close:link, .popup-close:visited {
  position: absolute;
  display: inline-block;
  top: 3rem;
  right: 3rem;
  font-size: 3rem;
  color: #b7b7b7;
  text-decoration: none;
  line-height: 1rem;
}

.popup-close:hover {
  color: #55c57a;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup-content {
  transform: translate(-50%, -50%) scale(1);
}

.story {
  background-color: rgba(255, 255, 255, 0.7);
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
  border-radius: .3rem;
  padding: 0 5rem;
  transform: skewX(-12deg);
}

@media screen and (max-width: 56.25em) {
  .story {
    width: 80%;
  }
}

@media screen and (max-width: 37.5em) {
  .story {
    width: 90%;
    transform: skewX(0deg);
  }
}

.story-figure {
  float: left;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 3rem 2.5rem 3rem 0;
  shape-outside: circle();
  clip-path: circle();
  backface-visibility: hidden;
  overflow: hidden;
  transform: skewX(12deg);
  position: relative;
}

@media screen and (max-width: 56.25em) {
  .story-figure {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 37.5em) {
  .story-figure {
    width: 10rem;
    height: 10rem;
    transform: skewX(0deg);
  }
}

.story-figure--img {
  height: 100%;
  transform: scale(1.3) translateX(-3rem);
  transition: all 0.5s;
  backface-visibility: hidden;
}

.story-figure--caption {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}

.story .story-text {
  transform: skewX(12deg);
  padding: 5rem 0;
}

@media screen and (max-width: 37.5em) {
  .story .story-text {
    transform: skewX(0deg);
  }
}

.story:hover .story-figure--caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story-figure--img {
  transform: scale(1) translateX(-3rem);
  filter: blur(3px) brightness(90%);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media screen and (max-width: 75em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 75em) {
  .row [class^="col-"] {
    width: 100% !important;
    margin-bottom: 4rem;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2* 6rem)/3);
}

.row .col-2-of-3 {
  width: calc( 2* ((100% - 2* 6rem)/3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3* 6rem)/4);
}

.row .col-2-of-4 {
  width: calc( 2*((100% - 3* 6rem)/4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3*((100% - 3* 6rem)/4) + 2*6rem);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

@media screen and (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@media screen and (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.header .logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header .logo-box .logo {
  height: 3rem;
}

.header .main-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
  padding: 10rem 0;
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
}

@media screen and (max-width: 75em) {
  .footer {
    padding: 8rem 0rem;
  }
}

@media screen and (max-width: 56.25em) {
  .footer {
    padding: 5rem 0rem;
  }
}

.footer-links .links-list {
  list-style: none;
  display: inline-block;
  border-top: 1px solid #fff;
  padding-top: 1rem;
  width: 78%;
}

.footer-links .links-list .link-item {
  display: inline-block;
}

.footer-links .links-list .link-item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-link, .footer-link:link, .footer-link:visited {
  color: white;
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
}

.footer-link:hover {
  transform: scale(1.05) translateY(-0.3rem);
  color: #55c57a;
}

.footer-text {
  width: 70%;
  border-top: 1px solid #fff;
  padding-top: 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.footer-text p {
  text-align: justify;
}

.footer-text .highlight {
  transition: all 0.3s;
  font-style: normal;
  padding: 0 .5rem;
  display: inline-block;
}

.footer-text .highlight:hover {
  transform: scale(1.05) translateY(-0.3rem);
  color: #55c57a;
  text-transform: none;
  display: inline-block;
  padding: 0 .5rem;
}

.navigation {
  position: relative;
}

.navigation .nav-toggle {
  display: none;
}

.navigation-menu {
  position: relative;
  z-index: 2000;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
}

@media screen and (max-width: 56.25em) {
  .navigation-menu {
    top: 4.5rem;
    right: 4.5rem;
  }
}

.navigation-menu .menu-close {
  width: 3rem;
  height: 2px;
  background-color: #777;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-menu .menu-close::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: -.8rem;
  transition: all .2s;
}

.navigation-menu .menu-close::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: .8rem;
  transition: all .2s;
}

.navigation-menu:hover .menu-close::before {
  top: -1rem;
  transform: scale(1.05);
}

.navigation-menu:hover .menu-close::after {
  top: 1rem;
  transform: scale(1.05);
}

.navigation-background {
  position: fixed;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#28b485, #7ed56f);
  z-index: 1000;
  top: 6rem;
  right: 6rem;
  transition: all .8s ease-out;
  overflow: hidden;
}

@media screen and (max-width: 56.25em) {
  .navigation-background {
    top: 5rem;
    right: 5rem;
  }
}

.navigation-links {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s;
  transition: opacity 0.8s cubic-bezier(0.92, -0.01, 0.07, 1.04);
  overflow: hidden;
}

.navigation-links .navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.navigation-links .navigation-list--link, .navigation-links .navigation-list--link:link, .navigation-links .navigation-list--link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(105deg, transparent 50%, #fff 50%);
  background-size: 250%;
  background-position-x: 12%;
  transition: all .5s;
}

.navigation-links .navigation-list--link:hover, .navigation-links .navigation-list--link:active {
  background-position-x: 90%;
  display: inline-block;
  color: #55c57a;
  transform: translateX(1rem);
  box-shadow: 0 0.8rem 1.9rem rgba(0, 0, 0, 0.25);
}

.nav-toggle:checked ~ .navigation-background {
  transform: scale(50);
}

.nav-toggle:checked ~ .navigation-links {
  width: 100%;
  opacity: 1;
}

.nav-toggle:checked + .navigation-menu .menu-close {
  background-color: transparent;
}

.nav-toggle:checked + .navigation-menu .menu-close::before {
  background-color: #777;
  transform: rotate(135deg);
  top: 0;
}

.nav-toggle:checked + .navigation-menu .menu-close::after {
  background-color: #777;
  transform: rotate(-135deg);
  top: 0;
}

.nav-toggle:checked:hover + .navigation-menu .menu-close {
  background-color: transparent;
}

.nav-toggle:checked:hover + .navigation-menu .menu-close::before {
  background-color: #777;
  transform: rotate(135deg) scale(1.2);
  top: 0;
}

.nav-toggle:checked:hover + .navigation-menu .menu-close::after {
  background-color: #777;
  transform: rotate(-135deg) scale(1.2);
  top: 0;
}

.section-about {
  padding-top: 20%;
  margin-top: -20%;
  background-color: #f7f7f7;
  padding-bottom: calc(15% + 13rem);
}

@media screen and (max-width: 75em) {
  .section-about {
    padding: 15%;
  }
}

@media screen and (max-width: 56.25em) {
  .section-about {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 37.5em) {
  .section-about {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.6)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 12%, 100% 0%, 100% 85%, 0 100%);
  padding: 25rem 8rem;
  margin-top: -15%;
}

@media screen and (max-width: 75em) {
  .section-features {
    clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0 100%);
    padding: 10% 25%;
  }
}

@media screen and (max-width: 56.25em) {
  .section-features {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 37.5em) {
  .section-features {
    padding: 9rem 5% 5rem 5%;
  }
}

.section-tours {
  background-color: #f7f7f7;
  margin-top: -15%;
  padding-top: calc(15% + 12rem);
  padding-bottom: 10rem;
}

@media screen and (max-width: 75em) {
  .section-tours {
    padding-top: 15%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 37.5em) {
  .section-tours {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.section-stories {
  padding-bottom: 10rem;
  padding-top: 10rem;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 75em) {
  .section-stories {
    padding: 5rem 0;
  }
}

.section-booking {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0rem;
}

@media screen and (max-width: 75em) {
  .section-booking {
    padding: 10rem 0rem;
  }
}

@media screen and (max-width: 56.25em) {
  .section-booking {
    padding: 5rem 0rem;
  }
}
/*# sourceMappingURL=main.css.map */