// Colors Palette
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #fcbf49;
$color-secondary-dark: #e85d04;
$color-tertiary-light: #457b9d;
$color-tertiary-dark: #134074;

// Typography
$color-text-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-bg-light: #f7f7f7;
$color-bg-dark: #333;
$color-light-grey: #b7b7b7;

// Grid variables
$grid-width: 114rem;
$h-gutter: 6rem;
$h-gutter-sm: 3rem;
$v-gutter: 4rem;