body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-text-grey;
  padding: 3rem;
}

.main-text {
  color: $color-white;
  text-transform: uppercase;
  margin: 4rem;
  
  &-primary{
    display: block;
    font-weight: 400;
    font-size: 6.5rem;
    letter-spacing: 2rem;
    animation: moveInRight 1s ease-out;
  }
  &-sub{
    display: block;
    font-weight: 700;
    font-size: 2.1rem;
    letter-spacing: 1.25rem;
    animation: moveInLeft 1s ease-out;
  }
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.heading-tertiary {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
.paragraph {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}