.u-center-text {
  text-align: center;
}
// margin botom utility
.u-mb {
  
  &-sm { 
    margin-bottom: 2rem;
  } 
  &-md { 
    margin-bottom: 5rem;
    @include respond(tab-port){
      margin-bottom: 3rem;
    }
    @include respond(phone){
      margin-bottom: 2rem;
    }
  } 
  &-lg { 
    margin-bottom: 8rem;
    @include respond(tab-land){
      margin-bottom: 3rem;
    }
  } 
  &-xl { 
    margin-bottom: 10rem;
  } 
}
// margin top utility
.u-mt {
  
  &-sm {
    margin-top: 2rem !important;
  }
  &-md {
    margin-top: 5rem;
    @include respond(tab-port){
      margin-bottom: 3rem;
    }
    // @include respond(phone){
    //   margin-bottom: 1rem;
    // }
  }
  &-lg {
    margin-top: 8rem;
  }
  &-xl {
    margin-top: 10rem;
  }
}

.u-p {
  &t-sm{
    padding-top: 2rem;
  }

  &x-sm{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &x-md{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  &x-lg{
    padding-left: 8rem;
    padding-right: 8rem;

    @include respond(tab-land) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @include respond(phone) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  &x-xl{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  &-sm {
    padding: 2rem;
  }
  &-md {
    padding: 5rem;
  }
  &-lg {
    padding: 8rem;
  }
  &-xl {
    padding: 10rem;
  }
}

.u-showbg {
  background-color: orangered;
}

