.u-center-text {
  text-align: center;
}
// margin botom utility
.u-mb {
  
  &-sm { 
    margin-bottom: 2rem;
  } 
  &-md { 
    margin-bottom: 5rem;
  } 
  &-lg { 
    margin-bottom: 8rem;
  } 
  &-xl { 
    margin-bottom: 10rem;
  } 
}
// margin top utility
.u-mt {
  
  &-sm {
    margin-top: 2rem;
  }
  &-md {
    margin-top: 5rem;
  }
  &-lg {
    margin-top: 8rem;
  }
  &-xl {
    margin-top: 10rem;
  }
}

.u-p {
  
  &-sm {
    padding: 2rem;
  }
  &-md {
    padding: 5rem;
  }
  &-lg {
    padding: 8rem;
  }
  &-xl {
    padding: 10rem;
  }
}

.u-showbg {
  background-color: orangered;
}

