.section-about {
  padding-top: 20%;
  margin-top: -20%;
  background-color: $color-bg-dark;
  padding-bottom: 5rem;
}

.section-tours {
  background-color: $color-bg-dark;
  padding-top: 8rem;
  padding-bottom: 5rem;
}